__pycache__/
*.py[cod]
*$py.class
.python-version
env/
venv/
.venv/
build/
dist/
*.egg-info/
.eggs/
htmlcov/
.tox/
.pytest_cache/
.mypy_cache/
.idea/
/.dvc*
!/.dvc/config
!/.dvc/.gitignore
/.ipynb_checkpoints/
walkthrough.md*
/experiments/
/logs/
.env*
/mlruns/
/outputs/
.DS_Store
/*.csv
/*.zip
/*.session